@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
 
  --color-bg: #F5F5F5; 
  --color-text: #333333; 
  --color-primary: #1a1a1a; 
  --color-secondary: #999999; 
}

[data-theme="dark"] {

  --color-bg: #1a1a1a; 
  --color-text: #F5F5F5;
  --color-primary: #FFFFFF; 
  --color-secondary: #666666;
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
